<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Polls::Admin::AnswersController.sortable? and ::Refinery::Polls::Answer.count > 1 %>
